35100026.csv
35100026_MetaData.csv
35100177.csv
35100177_MetaData.csv
csi_full.zip
csi_reference_year_sensitivity_test.jpg
firearms_incidents_2009_2021.jpg
firearms_trend_sensitivity_analysis.jpg
luring_incidents_2009_2021.jpg
luring_trend_sensitivity_analysis.jpg
theft_over_5k_1998_2021.jpg
theft_sensitivity_analysis.jpg
theft_under_5000_2006-2021.jpg
total_reported_crime_rate_1998-2021.jpg
total_reported_crime_rate_1998-2021_feature.jpg
total_reported_crime_rate_1998-2021_twitter.jpg
total_reported_crime_rate_2014-2021.jpg
total_reported_crime_rate_2018-2021.jpg
total_reported_crime_rate_trend_sensitivity_analysis.jpg
ucr_full.csv
ucr_full.zip
